:root {
    --primary-color: #21DADB;
    --secondary-color: #35BBDF; 
    --third-color: #4D94E6; 
    --text-color: #5F5F5F;
    --background-color: #f5f5f5;
    --button-bg: #F33030;
    --button-text: white;
  }