.nav-bar{
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo > img{
    width: 80px;
    cursor: pointer;
}

.nav-links{
    justify-content: space-around;
    gap: 50px;
}
.nav-links > li > a{
    color: var(--secondary-color);
    font-weight: bold;
    
}

.nav-links > li > a:hover{
    color: var(--primary-color);
    transition: 1s;
}

.nav-links > li:hover{
    transition: 1s;
    transform:scale(1.1); 
}



.nav-bar > button{
    width: 90px;
    height: 30px;
    border-radius: 100px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* Burger menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger > .line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 4px;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}



/* Header */
header{
    margin: 5% auto;
    justify-content: center;
    height: 100%;
}
.img-container, .container{
    width: 40%;
}
.container > h1{
    font-size: 100px;
}
.container > p{
    margin: 3% auto;
    font-size: 20px;
    color: var(--text-color);
}

.form-container{
    margin-top: 5%;
}

.container input{
    border-radius: 100px;
    padding: 1%;
}

.container input:first-child{
    width: 35%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.container input:last-child{
    width: 15%;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--secondary-color);
}

.img-container > img{
    width: 100%;
}


/* Companies section  */
.companies{
    margin: 10% auto;
}
.companies > h1, .our-work > h1, .partner-us > h1, .methodology > h1{
    text-align: center;
    font-size: 40px;
}

.companies-list{
    gap: 200px;
    margin: 3% auto auto;
}
.companies-list > img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}


/* Expertise Section */

.expertise{
    justify-content: space-around;
    margin: 5% auto;
}

.expertise-container, .commitments-container{
    width: 40%;
}
.expertise-container > h1, .commitments-container > h1{
    font-size: 64px;
}
.expertise-container > p, .commitments-container > p{
    margin: 5% auto;
    color: var(--text-color);
}
.expertise-container > img{
    width: 400px;
    height: 400px;
}

.expertise-container > .card{
    justify-content: space-around;
    align-items: center;
    margin: 5% auto;
    text-align: justify;
}
.expertise-container > .card> .sub-card > p{
    margin: 2% auto;
    color: var(--text-color);
}
.expertise-container > .card> .sub-card > h4{
    font-size: 20px;

}
.expertise-container > .card > img{
    margin-right: 30px;
}

.social-media{
    width: 100% !important;
    height: 100% !important;
}



/* commitments Section */

.commitments{
    justify-content: space-around;
    margin: 10% auto;
}

.commitment-card{
    width: 200px;
    margin: 10%;
    padding: 10%;
}
.commitment-card > h1{
    font-size: 50px;
    color: var(--primary-color);
    font-weight: bold;
}
.commitment-card > p{
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
}

/* Our Work Section */
.our-work{
    margin: 10% auto 20%;
    align-items: center;
    justify-content: space-between;
}

.our-work > p{
    margin: 1% auto 5%;
    text-align: center;
    color: var(--text-color);
}

.our-work-card{
    width: 300px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
} 


/* Partner With Us Section */
.partner-cards{
    width: 100%;
    text-align: center;
}
.partner-card{
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    transition: 1s;
}

.partner-card:hover{
    transform: scale(1.1);
}

.partner-card > h1{
    margin: 10px;
    color: var(--secondary-color);
}

.partner-card > p{
    color: var(--text-color);
}


/* Elevate Section */
.elevate{
    height: 100vh;
}


.elevate-container{
    justify-content: space-around;
    align-items: center;
    background-color: var(--third-color);
    width: 80%;
    border-radius: 10px;
    height: 50%;
}

.elevate-container > h1{
    font-size: 64px;
    color: white;
}
.book-call-container{
    height: 100%;
}
.book-call-container > p{
    font-size: 20px;
    color: white;
    text-align: justify;
}
.book-call-container > button{
    margin-top: 10px;
    font-size: 24px;
    border-radius: 64px;
    padding: 16px 48px;
}


/* Methodology With Us Section */
.methodology-cards{
    width: 100%;
    text-align: center;
}
.methodology-card{
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 30px;
    margin: 30px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    transition: 1s;
}

.methodology-card:hover{
    transform: scale(1.1);
}

.methodology-card > h1{
    margin: 10px;
    color: var(--secondary-color);
}

.methodology-card > p{
    color: var(--text-color);
}
