@media (max-width: 737px) {
    /* Responsiveness for the navbar  */
    .nav-links {
        display: none !important;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
    }
    .nav-links.active {
        transform: translateX(0);
    }
    .nav-links li{
        margin: 1%;
    }

    .active{
        z-index: 3;
    }

    .nav-links.active {
        display: flex !important;
    }
    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar{
        border-bottom: none;
    }

    /* Header */
    .img-container, .container{
        width: 100%;
        text-align: center;
    }
    .container > h1{
        font-size: 50px;
    }
    .container > p{
        font-size: 15px;
    }



    /* Companies Section */
    .companies{
        margin: 10% auto;
    }
    .companies-list{
        gap: 10px;
    }


    /* Expertise Section */

    .expertise{
        margin: 0;
    }

    .expertise-container, .commitments-container{
        width: 80%;
        text-align: center;
    }
    .expertise-container > h1, .commitments-container > h1{
        font-size: 40px;
    }
    .expertise-container > img{
        width: 300px !important;
        height: 300px !important;
    }

    /* commitments Section */

    .commitments-container{
        width: 80%;
    }

    .commitment-card{
        width: 100%;
    }


    /* Our Work Section */
    .work{
        align-items: center;
        justify-content: center;
    }

    /* Elevate Section */
    .elevate-container{
        height: 50%;
    }

    .elevate-container > h1{
        font-size: 40px;
    }
    .book-call-container{
        height: 40%;
    }
    .book-call-container > p{
        font-size: 15px;
    }
    .book-call-container > button{
        width: 200px;
        font-size: 15px;
    }


    /* Footer */
    .footer-1,.footer-2,.footer-3{
        width: 100%;
    }
}